body {
  background-color: burlywood;
  caret-color: blueviolet;
}

app-cars {
  color: blue;
}

app-goods {
  color: aqua;
}

app-masters {
  color: aquamarine;
}

app-orders{
  color: violet;
}

app-owners{
  color: bisque;
}

app-services{
  color: blueviolet;
}

