<div class="header">
  <h1>Masters component</h1>
</div>
<p>masters works!</p>
<div>
  <br>
  <h2>Get Master Orders method)</h2>
  <form (ngSubmit)="onGetMasterOrders()">
    <label>ID:</label>
    <input type="number" name="masterId" [(ngModel)]="masterId">

    <button type="submit">Get Masters Orders</button>
  </form>
</div>
<div>
  <br>
  <h2>Get Master Wages method)</h2>
  <form (ngSubmit)="onGetMasterWages()">
    <label>ID:</label>
    <input type="number" name="masterId" [(ngModel)]="masterId">

    <button type="submit">Get Masters Wages</button>
  </form>
</div>
<div>
  <br>
  <h2>Update Master method</h2>
  <form (ngSubmit)="onUpdateMaster()">
    <label>ID:</label>
    <input type="number"  [(ngModel)]="masterId">

    <label>Full Name:</label>
    <input type="text" name="fullName" [(ngModel)]="masterFullName">

    <label>Completed Order Id:</label>
    <input type="number" name="completedOrderId"  [(ngModel)]="masterCompletedOrderId">

    <button type="submit">Update Master</button>
  </form>
</div>
<div>
  <br>
  <h2>Create Master method</h2>
  <form (ngSubmit)="onCreateMaster()">

    <label>Full Name:</label>
    <input type="text" name="fullName" [(ngModel)]="this.masterFullName">

    <label>Completed Order Id:</label>
    <input type="number" name="completedOrderId" [(ngModel)]="this.masterCompletedOrderId">

    <button type="submit">Create Master</button>
  </form>
</div>
